<launch>
	<arg name="meshes" default="$(find libcozmo)/src/cozmo_description/meshes"/>
	
	<group ns="group1">  
		<rosparam command="load" file="$(find libcozmo)/scenarios/robot_1.yaml"/>
		<node pkg="libcozmo" type="planner" name="planner" output="screen" args="$(arg meshes)"/>
	</group>

	<group ns="group2">  
		<rosparam command="load" file="$(find libcozmo)/scenarios/robot_2.yaml"/>
		<node pkg="libcozmo" type="planner" name="planner" output="screen" args="$(arg meshes)"/>
	</group>

</launch>